{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with js}}
    <main>
        <section>
            {{> title data='JS' big=true}}

            <hr>
            <h1>{{name}}</h1>
            <hr>
            <br>
            <p><mark>Description: {{description}}</mark>JavaScript is a popular high-level, dynamic, and interpreted
                programming language.</p>
            <p><mark>History{{history}}</mark>1995, Brendan Eich</p>
            <p><mark>Date {{date}}:</mark>2023-06-15</p>
            <br>
            {{#with program}}
            <b>
                <address>
                    <p>Location</p>
                </address>
            </b>
            <ul>
                <li>
                    <address>city: {{city}}</address>
                </li>
                <li>
                    <address>country: {{country}}</address>
                </li>
                <li>
                    <address>date: {{date}}</address>
                </li>
                <li>
                    <address>program: {{program}}</address>
                </li>
                <li>
                    <address>guide: {{guide}}</address>
                </li>
                <li>
                    <address>performers: {{performers}}</address>
                </li>
            </ul>
            {{/with}}
            <br>
            <b>
                <p>Education:</p>
            </b>
            {{#each education}}
            <ul>
                <li>Degree: {{degree}}</li>
                <li>Major: {{major}}</li>
                <li>University: {{university}}</li>
                <li>Year of Graduation {{graduationYear}}</li>
            </ul>
            {{/each}}
            {{#each workExperience}}
            <b>
                <p>Work experience</p>
            </b>
            <ul>
                <li>Company: {{company}}</li>
                <li>Title: {{title}}</li>
                <li>Start date: {{startDate}}</li>
                <li>End date: {{endDate}}</li>
                <li>Responsibilities: {{responsibilities}}</li>
                <li>Year founded: {{year_founded}}</li>
                <li>Industry: {{industry}}</li>
                <li>Employees: {{employees}}</li>
            </ul>
            {{/each}}
        </section>
    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML --}}