{{!--
Це код container файлу для сторінки shopreview,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/shopreview"
--}}

<main class="p-5">
    {{!-- Меню навігації --}}
    <header class="mb-5">
        {{#with navigation}}
        <div class="card p-3">
            <nav class="nav row">
                <div class=""></div>
                <ul class="col-4">
                    <li class="d-flex">
                        {{#each links}}
                        <a class="nav-link " href="{{href}}{{text}}">{{text}}</a>
                        {{/each}}
                    </li>
                </ul>
            </nav>
        </div>
        {{/with}}
    </header>
    <br>
    {{#with formBlock}}
    <h1>{{header}}</h1>

    {{#with rating}}
    {{title}}
    {{value}}
    {{/with}}
    {{#with actionBlock}}
    <ul class="nav nav-tabs mb-5">
        {{#each tabs}}
        <li class="nav-item">
            <a class="nav-link {{#if isActive}}active{{/if}}" href="#"><span class="px-5">{{text}}</span></a>
        </li>
        {{/each}}
    </ul>
    <hr>
    <br>
    {{#with report}}
    <div class="card">
        <div class="card-body">
            {{title}}
            <br>
            <br>
            {{#with button}}
            <a class="btn btn-secondary" href="{{link}}">{{text}}</a>
            {{/with}}
        </div>
    </div>
    {{/with}}

    {{/with}}
    <hr>
    <br>
    {{#with feedbackBlock}}
    <div class="col-8">
        <h2>{{title}}</h2>
        <div class="row">
            {{#each buttons}}
            <div class="col-4">
                <a class="btn {{#if isWarning}}btn-warning text-light{{/if}} {{#if isSuccess}}btn-success {{/if}} {{#if isDanger}} btn-danger {{/if}}"
                    href="{{link}}">
                    {{text}}
                </a>
            </div>
            {{/each}}
            <p></p>
            <hr>
        </div>
    </div>
    {{/with}}
    {{#with goodsInfo}}
    <div class="card col-4">
        <div class="card-body">
            <img src="{{photo}}" alt="">
            <br>
            {{name}}
        </div>
    </div>
    <div class="card col-4">
        <div class="card-body">
            {{price}}
            <br>
            {{inMarket}}
            <br>
            {{#each buttons}}
            <div class="row">
                <div class="col-4">
                    <a class="btn {{#if isPrimary}}btn-primary {{/if}} {{#if isSecondary}}btn-secondary {{/if}}"
                        href="{{link}}">
                        {{text}}
                    </a>
                </div>
            </div>

            {{/each}}
        </div>
    </div>
    {{#with seller}}
    <div class="row">
        <div class="card col-4">
            <div class="card-body">

                {{title}}<b>{{value}}</b>

            </div>
        </div>
    </div>
    {{/with}}
    {{/with}}
    {{/with}}

    {{>reviewItem}}
    <br>

    <div class="row">
        <div class="col-8">
            {{#with service}}
            <div class="card">
                <div class="card-body text-bg-success text-center">
                    <h2 class="card-title">{{title}}</h2>
                    <div>{{description}}</div>
                    {{#each buttons}}
                    <a class="btn btn-primary " href="{{link}}">{{text}}</a>

                    {{/each}}
                </div>
            </div>
            {{/with}}
        </div>

    </div>
    <hr>
    <br>

    <hr>
    <br>

    <div class="row g-5">
        {{#each footer}}
        <div class="nav col-2">
            <div>
                {{#each this}}
                <div>
                    <a class="nav-link {{#if @last}} disabled {{/if}}" href="{{this.link}}">{{this.text}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>

</main>