{{!--
Це код container файлу для сторінки shopreview,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/shopreview"
--}}

<main class="p-5">
    {{!-- Меню навігації --}}
    <header class="mb-5">
        {{#with navigation}}
        <div class="card p-3">
            <nav class="nav row">
                <div class=""></div>
                <ul class="col-4">
                    <li class="d-flex">
                        {{#each links}}
                        <a class="nav-link " href="{{href}}{{text}}">{{text}}</a>
                        {{/each}}
                    </li>
                </ul>
            </nav>
        </div>
        {{/with}}
    </header>
    <br>

    <div class="row gx-3">
        {{#with formBlock}}
        <div class="col-8">
            <h1>{{header}}</h1>
            <p class="mb-3">{{rating.title}}: {{rating.value}}</p>
            {{#with actionBlock}}
            <ul class="nav nav-tabs mb-5">
                {{#each tabs}}
                <li class="nav-item">
                    <a class="nav-link {{#if isActive}}active{{/if}} " href="#"><span class="px-5">{{text}}</span></a>
                </li>
                {{/each}}
            </ul>
            <hr class="my-5 bold">
            {{#with field}}
            <div class="input-group">
                <input class="form-control col-1" type="text" placeholder="{{placeholder}}">
                <a class="btn-secondary btn" href="{{button.link}}">{{button.text}}</a>
            </div>
            {{/with}}
            {{/with}}
            <hr class="my-5">
            {{#with feedbackBlock}}
            <h2 class="mb-5 display-6"><strong>{{title}}</strong></h2>
            {{#each buttons}}
            <a class="mt-5 btn {{#if isSuccess}}btn-success{{/if}} {{#if isWarning}}btn-warning{{/if}} {{#if isDanger}}btn-danger{{/if}}"
                href="{{link}}">{{text}}</a>
            {{/each}}
            {{/with}}
        </div>

        <div class="col-4">
            {{#with goodsInfo}}
            <div class="card mb-3">
                <img class="pt-3" src="{{photo}}" alt="photo">
                <p class="display-6 card-title">{{name}}</p>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <p class="display-6">{{price}}</p>
                    {{#each buttons}}
                    <div class="col">
                        <a class="mb-3 btn {{#if isPrimary}}btn-primary{{/if}} {{#if isSecondary}}btn-secondary{{/if}}"
                            href="{{link}}">{{text}}</a>
                    </div>
                    {{/each}}
                </div>

            </div>
            <div class="card">
                <p class="card-body">{{seller.title}}: <span><strong>{{seller.value}}</strong></span></p>
            </div>
            {{/with}}
        </div>
        {{/with}}
    </div>
    <hr>
    {{>reviewItem}}
    </div>
    <br>

    <div class="row">
        <div class="col-8">
            {{#with service}}
            <div class="card">
                <div class="card-body text-bg-success text-center">
                    <h2 class="card-title">{{title}}</h2>
                    <div>{{description}}</div>
                    {{#each buttons}}
                    <a class="btn btn-primary " href="{{link}}">{{text}}</a>

                    {{/each}}
                </div>
            </div>
            {{/with}}
        </div>

    </div>

    <hr>
    <br>

    <div class="row g-5">
        {{#each footer}}
        <div class="nav col-2">
            <div>
                {{#each this}}
                <div>
                    <a class="nav-link {{#if @last}} disabled {{/if}}" href="{{this.link}}">{{this.text}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>

</main>