{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<div>
    <main>
        {{#with section}}
        <section>
            {{> title data='task22' big=true}}
            <hr>
            <h1 class="text-center">H1 Heading</h1>
            <h6 class="text-center">PARAGRAPH</h6>
            <section class="card">
                <div class="card-body">
                    <h2 class="display-6 text-end">{{about_us.title_list.main}}</h2>
                    <p class="text-end"> {{about_us.title_list.sub}}</p>
                    <button class="btn btn-outline-info">{{about_us.button.text}}</button>
                </div>
            </section>

            <!--<hr>
            <div class="card">
                <div class="card-body">
                    {{main}}
                    <h1>{{title}}</h1>
                    <h1>H1 Heading</h1>
                    <span class="text-muted">PARAGRAPH</span>
                    <br>

                    <a href="#" class="btn btn-link"></a>
            <hr>-->
</div>
<div class="card">
    <div class="card-body">
        {{#with about_us}}
        {{#with title_list}}
        <!--{{main}}
        {{sub}}-->
        {{/with}}
        {{#with button}}
        {{text}}
        {{/with}}
        {{/with}}
        {{#with advantage}}
        {{title}}
        {{#with efficiency}}
        <!--{{title}}-->
        {{sub_title}}
        {{description}}
        {{button}}
        {{/with}}
        <!--{{#with innovation}} {{title}} {{sub_title}} {{description}} {{button}} {{/with}}
        {{#with collaboration}} {{title}} {{sub_title}} {{description}} {{button}} {{/with}}-->

        {{/with}}
        {{#with agreement}}
        <!--{{title}}
        {{#with info}}
        {{sub_title}}
        {{#with detail}}{{text}} {{button}}{{/with}}
        {{/with}}
        {{/with}}
-->
        {{#with section}}
        <section class="card">
            <div class="card-body">
                <h2 class="display-6 text-end">{{about_us.title_list.main}}</h2>
                <p class="text-end"> {{about_us.title_list.sub}}</p>
                <button class="btn btn-outline-info">{{about_us.button.text}}</button>
            </div>
        </section>
        {{/with}}
        <li>
            <address>title: {{title}}</address>
            <address>sub_title: {{sub_title}}</address>
            <address>description: {{description}}</address>
            <address>main: {{main}}</address>
            <address>sub: {{sub}}</address>
            <address>text: {{text}}</address>
            <address>sub title: {{sub_title}}</address>
            <address>button: {{button}}</address>
        </li>
        <h2 class="text-end">H2 Heading</h2>
        <button class="btn btn-outline-info">Info</button>
    </div>
</div>
<br>

<div class="card">
    <h2 class="text">Display 5 Advantage</h2>
    <div class="card">
        <div class="card-body">
            <h2 class="text">Display 4 efficiency</h2>
            <p>H6 Heading</p>
            <p>Paragraph</p>
            <button class="btn btn-outline-warning">Warning</button>
        </div>

    </div>
    <div>
        <h2 class="text-center">Display 4 innovation</h2>
        <p class="text-center">H6 Heading</p>
        <p class="text-center">Paragraph</p>
        <button class="btn btn-outline-warning">Warning</button>
    </div>
    <hr>
    <div>
        <h2 class="text-end">Display 4 collaboration</h2>
        <p class="text-end">H6 Heading</p>
        <p class="text-end">Paragraph</p>
        <button class="btn btn-outline-warning">Warning</button>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h2 class="text">Display 5 agreement</h2>
        <div class="text">
            <h5>H5 Heading</h5>
        </div>
        <div class="text">
            <p>Paragraph</p>
            <button class="btn btn-success">Success</button>
        </div>
    </div>


</div>
</div>
</section>
{{/with}}
</main>
</div>